Repository hmcts/rpe-pdf-service, pull requests merged in 2019-07, with the labels that each got.

#95 Add app insights event
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pdf/service/integration/DeprecatePDFGenerationEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pdf/service/integration/GeneratedPDFContentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pdf/service/integration/GeneratedPDFContentV2Test.java
  src/integrationTest/java/uk/gov/hmcts/reform/pdf/service/integration/ResponseCodesTest.java
  src/main/java/uk/gov/hmcts/reform/pdf/service/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/reform/pdf/service/appinsights/AppInsightsEventTracker.java
  src/main/java/uk/gov/hmcts/reform/pdf/service/appinsights/FileSizeConverter.java
  src/main/java/uk/gov/hmcts/reform/pdf/service/endpoint/v2/PDFGenerationEndpointV2.java
  src/test/java/uk/gov/hmcts/reform/pdf/service/appinsights/AppInsightsEventTrackerTest.java
  src/test/java/uk/gov/hmcts/reform/pdf/service/appinsights/FileSizeConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pdf/service/domain/matchers/EventMetricsMatcher.java
  src/test/java/uk/gov/hmcts/reform/pdf/service/domain/matchers/EventPropertiesMatcher.java
  src/test/java/uk/gov/hmcts/reform/pdf/service/domain/matchers/KbEventPropertiesMatcher.java
  src/test/java/uk/gov/hmcts/reform/pdf/service/endpoint/GetWelcomeTest.java
Labels: ns:cmc-pdf-service-pr-95

#98 Migrate to owasp 5
  build.gradle
  pdf-generator/build.gradle
Labels: ns:cmc-pdf-service-pr-98

#100 Update dependencies
  .dependabot/config.yml
  build.gradle
  config/pmd/ruleset.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  pdf-generator/build.gradle
Labels: ns:cmc-pdf-service-pr-100
