Repository hmcts/rpe-pdf-service, pull requests merged in 2019-11, with the labels that each got.

#146 Upgrade to latest java chart.
  charts/cmc-pdf-service/Chart.yaml
  charts/cmc-pdf-service/requirements.yaml
Labels: ns:cmc-pdf-service-pr-146

#147 Set source and target compatibility in module
  pdf-generator/build.gradle
Labels: ns:cmc-pdf-service-pr-147

#148 Switch back to jenkins library master branch
  Jenkinsfile_CNP
Labels: ns:cmc-pdf-service-pr-148

#164 Add API version to chart
  charts/cmc-pdf-service/Chart.yaml
Labels: ns:cmc-pdf-service-pr-164
