Repository hmcts/rpe-pdf-service, pull requests merged in 2019-05, with the labels that each got.

#84 Updating Java chart
  charts/cmc-pdf-service/Chart.yaml
  charts/cmc-pdf-service/requirements.yaml
Labels: ns:cmc-pdf-service-pr-84

#89 bump java chart version AB#109
  charts/cmc-pdf-service/Chart.yaml
  charts/cmc-pdf-service/requirements.yaml
Labels: ns:cmc-pdf-service-pr-89

#90 Fix CVE-2019-12086
  build.gradle
  pdf-generator/build.gradle
Labels: ns:cmc-pdf-service-pr-90
