Repository hmcts/rpe-pdf-service, pull requests merged in 2020-06, with the labels that each got.

#246 Rename pdf service to rpe
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  charts/cmc-pdf-service/requirements.yaml
  charts/rpe-pdf-service/Chart.yaml
  charts/rpe-pdf-service/templates/NOTES.txt
  charts/rpe-pdf-service/values.aat.template.yaml
  charts/rpe-pdf-service/values.preview.template.yaml
  charts/rpe-pdf-service/values.yaml
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/terraform.sh
  infrastructure/variables.tf
Labels: ns:rpe, rel:rpe-pdf-service-pr-246

#247 Appinsights from secret
  build.gradle
  charts/rpe-pdf-service/Chart.yaml
  charts/rpe-pdf-service/values.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  pdf-generator/build.gradle
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/pdf/service/endpoint/v1/PDFGenerationEndpointArgumentsHandlingTest.java
Labels: ns:rpe, rel:rpe-pdf-service-pr-247

#248 change ingress to rpe
  charts/rpe-pdf-service/Chart.yaml
  charts/rpe-pdf-service/values.yaml
Labels: ns:rpe, rel:rpe-pdf-service-pr-248

#249 fix renovate
  .github/renovate.json
  renovate.json
Labels: ns:rpe, rel:rpe-pdf-service-pr-249

#256 Update to java 11
  Dockerfile
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-pdf-service-pr-256
